body {
  background: linear-gradient(-55deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 2vm;
  text-align: center;
}

a {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row-reverse;
  padding-bottom: 30px;
  text-transform: uppercase;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 400px;
  padding: 20px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
